.spacing-1{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    width: 300px;
}

.spacing-2{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 40px;
    color: lightblue;
    text-align: center;
    text-shadow: 2px 2px 5px #53A4F7;
}

p{
   font-size: 20px;
    color: darkblue;
    text-shadow: 2px 2px 5px #53A4F7;
    margin-bottom: 0px;
}

.sign-in-dialog{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
}

.username-password{
    margin-left: 5% !important;
    justify-content: center;
    display: flex !important;
}

#button-wrapper{
    display: flex;
    justify-content: center;
}

#login-button{
    margin-top: 10%;
}

#standard_basic{
    width: 500px;
}

.centered-form-element{
    display: flex;
    justify-content: center;
}