.hardware-card{
    /*display: flex;*/
    /*margin-top: 5%;*/
    margin-top: 22px;
    margin-right: 5%;
    margin-left: 5%;
    flex-wrap: wrap;
}

#button-return{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#slider-control{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 6%;
    margin-bottom: 5%;
}

.hardware-list{
    display: flex;
    flex-wrap: wrap;
    width: max(400px, 30%);
    flex-direction: row;
}
